// Buttons
.button-primary,
.button-secondary {
    @include font(500, 0.8em);
    text-transform: uppercase;
    padding: 0.65em 1.6em;
    transition: all 0.3s;
    border-radius: 0.2em;

    &.button-primary {
        background: $palette-sweet-red;
        border: 2px solid $palette-sweet-red;
        color: white;

        &:hover {
            background: white;
            color: $palette-sweet-red;
        }
    }

    &.button-secondary {
        border: 2px solid rgba($palette-sweet-red, 0.85);
        background: white;
        color: rgba($palette-sweet-red, 0.85);

        &:hover {
            background: $palette-sweet-red;
            color: white;
        }
    }

    &.icon {
        @include inline-flex(row, center);

        > i {
            font-size: 0.9em;
            margin-right: 0.75em;
        }
    }
}

