.blog-content {
    color: $palette-slate-gray;
    font-family: $font-family-article-stack;
    font-size: 1.15em;
    line-height: 1.63em;
    letter-spacing: -0.003em;
    word-break: break-all; // Edge fallback
    word-break: break-word;

    blockquote {
        position: relative;
        color: rgba($palette-slate-gray, 0.95);
        font-weight: 400;
        font-style: italic;
        margin: 1.25em 0;

        &::before {
            @include pseudo();
            @include position(0, auto, 0, -23px);
            @include size(2px, 100%);
            background: $palette-slate-gray;
        }
    }

    code,
    pre {
        background: rgba(black, 0.025);
        border-radius: 0.15em;
        font-size: 0.9em;
        font-family: Menlo, Monaco, "Courier New", Courier, monospace;
    }

    code {
        padding: 0.2em 0.4em;
    }

    pre {
        padding: 1.25em;
        line-height: 1.35em;
        margin: 1.75em 0;
        white-space: pre-wrap;

        code {
            background: transparent;
            padding: 0;
        }
    }

    h1, h2, h3 {
        font-weight: 500;

        &:not(:first-child) {
            margin-top: 1.25em;
            margin-bottom: 0.5em;
        }
    }

    h1 {
        font-size: 2em;
        margin-bottom: 0.25em;
    }

    h2 {
        font-size: 1.57em;
        margin-bottom: 0.15em;
    }

    h3 {
        font-size: 1.45em;
    }

    strong {
        font-weight: bold;
    }

    ol, ul {
        list-style-position: outside;
        margin: 0.25em 0 0 1.4em;

        li {
            margin: 0.43em;
        }
    }

    a {
        text-decoration: underline;
        cursor: pointer;
    }

    > p,
    h1,
    h2,
    h3 {
        margin-top: 0.75em;
    }

    img {
        display: block;
        object-fit: contain;
        margin: 2.5em auto;
        border-radius: 0.25em;
        max-width: 100%;
        max-height: 40vh;
    }

    /**
     * Empty elements don't consume height - so use a pseudo element which
     * is not selectable but consumes height.
     */
    p:empty::after {
        content: ' ';
        background: transparent;
        user-select: none;
    }
}

@include mobile {
    .blog-content {
        blockquote {
            margin-left: 10px;

            &::before {
                left: -15px;
            }
        }
    }
}
