.blog-content {
    color: $palette-slate-gray;
    font-family: "Open Sans", serif;
    font-size: 1.05em;
    line-height: 1.58em;

    blockquote {
        border-left: .25em solid #dfe2e5;
        color: #88919b;
        padding: 0 1em;
        font-weight: 400;
    }

    code,
    pre {
        background: rgba(0, 0, 0, 0.025);
        border-radius: 0.15em;
        font-size: 0.9em;
    }

    code {
        padding: 0.2em 0.4em;
    }

    pre {
        padding: 1.25em;
        line-height: 1.35em;
        margin: 1.75em 0;
        white-space: pre-wrap;

        code {
            background: transparent;
            padding: 0;
        }
    }

    h1, h2, h3 {
        font-weight: 500;

        &:not(:first-child) {
            margin-top: 1em;
            margin-bottom: 0.25em;
        }
    }

    h1 {
        font-size: 2em;
        margin-bottom: 0.25em;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 0.15em;
    }

    h3 {
        font-size: 1.17em;
    }

    strong {
        font-weight: 500;
    }

    li, ol {
        list-style-position: inside;
        margin-left: 0.25em;

        p {
            display: inline-block;
        }
    }

    a {
        color: $palette-sweet-red;
        cursor: pointer;
    }

    img {
        display: block;
        object-fit: contain;
        margin: 2.5em auto;
        border-radius: 0.25em;
        max-width: 100%;
    }
}
