.blog-content {
    color: $palette-slate-gray;
    line-height: 1.5em;
    font-size: 1.2em;
    font-family: "Avenir LT Std 55 Roman";

    blockquote {
        border-left: .25em solid #dfe2e5;
        color: #88919b;
        padding: 0 1em;
        font-weight: 400;
    }

    code {
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
        margin: 0;
        padding: .2em .4em;
    }

    h1, h2, h3 {
        font-weight: 500;
        margin-top: 1em;

        &:not(:first-child) {
            margin-top: 0.5em;
        }
    }

    h1 {
        font-size: 2em;
        margin-bottom: 0.25em;
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 0.15em;
    }

    h3 {
        font-size: 1.17em;
    }

    strong {
        font-weight: 500;
    }

    li, ol {
        list-style-position: inside;
        margin-left: 0.25em;

        p {
            display: inline-block;
        }
    }

    a {
        color: $palette-sweet-red;
        cursor: pointer;
    }

    img {
        display: block;
        object-fit: contain;
        margin: 2em auto;
        border-radius: 0.25em;
        max-width: 100%;
    }
}
