.blog-content {
    color: $palette-slate-gray;

    blockquote {
        border-left: .25em solid #dfe2e5;
        color: #88919b;
        padding: 0 1em;
        font-weight: 400;
    }

    code {
        background-color: rgba(27, 31, 35, 0.05);
        border-radius: 3px;
        margin: 0;
        padding: .2em .4em;
    }

    h1, h2, h3 {
        font-weight: 500;

        &:not(:first-child) {
            margin-top: 0.3em;
        }
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.17em;
    }

    strong {
        font-weight: 500;
    }

    li, ol {
        list-style-position: inside;
        margin-left: 0.25em;

        p {
            display: inline-block;
        }
    }

    a {
        color: $palette-sweet-red;
        cursor: pointer;
    }
}
